:root {
   --primary-color: #435560;
   --primary-color-shade: #4d5757;
   --primary-color-tint: #6e7c7c;
   --primary-color-contrast: #fff;

   --secondary-color: #92967d;
   --secondary-color-shade: #666958;
   --secondary-color-tint: #c8c6a7;
   --secondary-color-contrast: #000;

   --default-background: #343434;
   --default-background-tint: #535353;
   --default-background-shade: #2b2b2b;
}
